body {
    background-color: rgba(138, 208, 240, 0.5);
    font-family: 'Labrada', serif;
    font-family: 'Libre Baskerville', serif;
}

.main-wrapper{
    max-width: 800px;
    margin: 50px auto;
}

.wrapper{   
    background-color: rgb(5, 157, 245);
    padding: 20px;
    border: 3px black;
    border-style:inset;
    border-radius: 20px;
}

.row{
    margin: 10px;
}

#left-column{
    margin-top: 200px;
    text-transform: capitalize;
}

.dateTime{
    font-size: 14px;
    margin-bottom: 0;
}

.weatherText {
    font-size: 24px;
    margin-bottom: 0;
}

.cityName {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
}

.temperature{
    font-size: 120px;
}

.units{
    position: relative;
    top: -138px;
    left: 138px;
    font-size: 24px;
    font-weight: bold;
    
}

ul{
    margin-top: 250px;
    float: left;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(5, 157, 245);
    font-weight: bold;
}
